@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: 150px;
  background-color: white;
  color: black;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.noto-sans-japanese {
  font-family: "Noto Sans JP", sans-serif;
}

.lato {
  font-family: "Lato", sans-serif;
}

.eb-garamond {
  font-family: "EB Garamond", serif;
}

.dark-mode {
  background-color: black;
  color: white;
}

.outputTextBox {
  height: 300px;
}

.h10 {
  height: 30px;
}

.w100 {
  width: 100%;
}

.w90 {
  width: 90%;
}

.w80 {
  width: 80%;
}

.w70 {
  width: 70%;
}

.w60 {
  width: 60%;
}

.w50 {
  width: 50%;
}

.w40 {
  width: 40%;
}

.w30 {
  width: 30%;
}

.switch {
  position: relative;
}

.switch:before,
.switch:after {
  content: "";
  vertical-align: middle;
  display: inline-block;
}

.switch:before {
  width: 2em;
  height: 1em;
  border: 2px solid lightgray;
  border-radius: 32px;
  background: #999;
}

.switch:after {
  position: relative;
  width: 1em;
  height: 1em;
  background: #c4c9ff;
  border-radius: 50%;
  left: -2.2em;
}

input {
  display: none;
}

input:checked ~ .switch:before {
  background: grey;
  border-color: black;
}

input:checked ~ .switch:after {
  background: darkgray;
  left: -1.1em;
}

.color-overlay {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  position: absolute;
}

.page-container {
  position: relative;
}

.ruler {
  z-index: 1;
  background-color: white;
  opacity: 0.5;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.vh40 {
  height: 40vh;
}

.vh42andHalf {
  height: 42.5vh;
}

.vh45 {
  height: 45vh;
}

.vh47andHalf {
  height: 47.5vh;
}

.vh48andHalf {
  height: 48.5vh;
}

.modal-container-top {
  background-color: black;
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  pointer-events: none;
}

.modal-container-bottom {
  background-color: black;
  position: fixed;
  opacity: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  pointer-events: none;
}

.modal-container-top.show {
  pointer-events: auto;
  opacity: 0.85;
}

.modal-container-bottom.show {
  pointer-events: auto;
  opacity: 0.85;
}

.myModal {
  background-color: white;
}

.bottom-box {
  height: 450px;
}

.explanation {
  font-size: 20px;
}

.white-box {
  height: 100px;
}

#footer {
  padding: 18px 0;
  color: black;
  font-size: 0.8rem;
  text-align: center;
  background-color: #f8f9fa;
}
